@using static jukebox.Controllers.PlayListController;

@model IEnumerable<PlayLists>;


@{
    ViewData["Title"] = "MyPlayList";
}


<div class="MyPlayList-Page-FlexBox"> 


    <div class="MyPlayList-PageHeader-Container">


        <div class="MyPlayList-Title">

             <i class="bi bi-card-list"></i> My PlayLists 

        </div>

        <div class="MyPlayList-MakePlayList">

            <a asp-controller="PlayList" asp-action="AddToPlayList"><i class="bi bi-plus-square-fill"></i> Make playlist</a>


        </div>

    </div>

    

        @foreach(var obj in Model) {

            <div class="MyPlayList-PlayList-Container">


                <div class="PlayList-Page">

                    <a asp-controller="PlayList" asp-action="PlaylistPage" asp-route-id="@obj.Id" asp-route-name="@obj.Name">

                        <i class="bi bi-music-note-list"></i> @obj.Name   
                    </a>

                </div>

                <div class="Delete-PlayList">
                        <form method="Post" asp-controller="PlayList" asp-action="DeletPlaylist" asp-route-id="@obj.Id">

              
                 
                            <input type="submit" value="Delete">

                        </form>
                </div>

                <div class="Edit-PlayList">

                        <a asp-controller="PlayList" asp-action="EditPlayListView" asp-route-id="@obj.Id">  Edit </a>
                </div>

            </div>


    }

    

</div>